<%- include("partials/header"); %>
<link rel="stylesheet" href="css\common.css">
<link rel="stylesheet" href="css\about.css">
<div class="jumbotron jumbotron-fluid" style="background-color: #440a67;">
    <div class="container" style="color: white; font-size: 25px;">
      <h1 class="display-4" style="color: rgb(255, 255, 255);text-align: center;">About Qmate</h1>
      <p class="lead" style="color: rgb(196, 196, 196);">
        <p>
          <a href="/">Qmate.com</a> is an online tool for creating knowledge, fun quizzes and questionnaires. It is
          designed for lovers of quizzes and competitions who want to have fun and learn something new. Thanks to the
          advanced features, you can insert quizzes on your own websites and enrich the content of your blog with
          interesting content.</p>

      <p>We moved quizzing to a new level and we introduce gamification through the badges that reward you for your
          activity in Qmate, but we do not stop yet and in the future we plan further extension og gamification.

          The goal of this project
          We believe in the bright future of this project, we want the Quiz Editor to become an online entertainment
          and education platform and also the largest base of quizzes and questionnaires online.

      <p style="text-align:center;">-With Regards
          Qmate Team</p>
      </p>
      </p>
    </div>
</div>
<!-- 
<h3 style="text-align: center; margin-bottom: 30px;">The Developers</h3>
<div class="container-fluid d-flex justify-content-center">
    <div class="card mx-5 transparent-white px-5">
        <img src="images\homepage-1.svg" class="card-img-top" alt="img">
        <div class="card-body">
          <h5 class="card-title">Bhavesh Sengunthar</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-success">Link To Github</a>
        </div>
      </div>
    <div class="card mx-5 transparent-white px-5">
        <img src="images\homepage-1.svg" class="card-img-top" alt="img">
        <div class="card-body">
          <h5 class="card-title">Yash Nerkar</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-success">Link To Github</a>
        </div>
      </div>
    <div class="card mx-5 transparent-white px-5">
        <img src="images\homepage-1.svg" class="card-img-top" alt="img">
        <div class="card-body">
          <h5 class="card-title">Dhruv Rajput</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-success">Link To Github</a>
        </div>
      </div>
</div> -->

<%- include("partials/footer"); %>