<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/resultPage.css">
  <title>Results</title>
</head>

<body>
  <%- include('partials/header') %>
    <div class="resultsDiv ml-3 mt-5" style="color: white; font-weight: bold;"></div>
    <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Result</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <table class="table" id='resultTable' style="color: white; font-weight: bold;">
        <thead >
          <tr class="table-head-row tbl-row">
            <th class="table-head" scope="col" style="width: 70%;">Details</th>
            <th class="table-head" scope="col" style="width: 10%;">Score</th>
            <th class="table-head" scope="col" style="width: 20%">Response</th>
          </tr>
        </thead>
        <tbody class="table-body">
          
        </tbody>
      </table>
    </div>

    <script type="text/javascript">
      init();
      function init() {
        let scores = JSON.parse('<%-JSON.stringify(scores)%>');
        localStorage.setItem('scores', JSON.stringify(scores));
        generateScore();
      }

      function generateScore() {
        let scores = JSON.parse(localStorage.getItem('scores'));
        let n = scores.length;
        if (n == 0) return;
        let detailKeys = Object.keys(scores[0].details);
        let r = detailKeys.length;

        let tableBody = document.querySelector('.table-body');
        for (let i = 0; i < n; i++) {

          let row = document.createElement('TR');
          row.classList.add('tbl-row')
          // to add details
          let detailCont = row.insertCell(0);
          detailCont.innerHTML = '<div></div>'
          detailCont.classList.add('detail-cont');
          for(let j = 0 ; j<r;j++){
            let detail = document.createElement('div');
            detail.innerText = detailKeys[j] + " : " +  scores[i].details[detailKeys[j]];
            detailCont.appendChild(detail);
          }
          row.appendChild(detailCont);
          
          //add score
          let score = row.insertCell(1);
          score.innerHTML = '<div>'+scores[i].score.studentScore+'</div>'
          score.classList.add('score-div');
          row.appendChild(score);

          //add response btn
          let respbtn = row.insertCell(2);
          respbtn.classList.add('resp-btn');
          respbtn.innerHTML = '<button class="btn btn-success" data-toggle="modal" data-target="#resultModal"  name="'+scores[i].details.studentID+'" onclick="showResponses(event)" >Show Responses</button>';
          row.appendChild(respbtn);

          tableBody.appendChild(row);
        }
      }

      function showResponses(event) {
        let studentID = event.target.name;
        let scores = JSON.parse(localStorage.getItem('scores'));
        let responseModal = document.querySelector('.modal-body');
        let n = scores.length;
        for (let i = 0; i < n; ++i) {
          if (studentID == scores[i].details.studentID) {
            let response = scores[i].score.scoreArray;
            let len = response.length;
            let responseModal = document.querySelector('.modal-body')
            deletePrev().then(()=>{
              for(let j = 0 ; j<response.length ; j++){
              let box = document.createElement('div');
              box.innerText = j+1;
              box.classList.add('ans-box')
              if(response[j] == 1){
                box.classList.add('right-ans');
              }else{
                box.classList.add('wrong-ans');
              }
              responseModal.appendChild(box);
            }
            }).then(()=>{
              i = n+1;
            });
          }

        }
      }

      function deletePrev(){
        return new Promise((res,rej)=>{
          let box = document.querySelector('.ans-box');
          if(box == null || box == undefined){
            res();
            return;
          }else{
            while(true){
              let box = document.querySelector('.ans-box');
              if(box == null || box == undefined){
                res();
                break;
              }else{
                box.remove();
              }
            }
          }
        })
      }

    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>