<!DOCTYPE html>
<html>

<head>
	<title>Qmate Teacher Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Custom Theme files -->
	<link rel="stylesheet" href="/css/teachersignup.css">
	<link rel="stylesheet" href="/css/common.css">
	<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
	<!-- //web font -->
</head>

<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Teacher Login</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/teacher/login" method="post">
					<input class="text email" type="email" name="username" placeholder="Email" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
					
					<input type="submit" value="LOGIN">
				</form>
				<span style="color: white;">New Here? Create an Account Now</span>
				<a href="/teacher/signUp" style="text-decoration: none; color: white;">Sign Up</a>
				<p class="error-text">
					<%= loginError%>
				</p>
			</div>
		</div>
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>

</html>